html {
    height: 100%;
    background-image: url("media/nyan.gif");
    background-position: center;
    background-size: cover;
}

@font-face {
    font-family: RedHands;
    src: url(media/redhands.ttf);
  }

h1 {
    font-family: 'RedHands'
}

#epic {
    margin-top: -200px; 
    margin-left: 500px; 
    font-size: 84px;
    text-decoration: underline;
}

#sandstorm {
    position: fixed;
    bottom: 200px;
    left: 10px;
    
}

#touch {
    position: fixed;
    bottom: 125px;
    left: 320px;
    
}

#dj {
    position: fixed;
    font-size: 42px;
    text-decoration: underline;
    bottom: 250px;
    left: 150px;
}

#lucky {
    position: fixed;
    bottom: 200px;
    left: 320px;
     
}

#butterfly {
    position: fixed;
    bottom: 125px;
    left: 10px;
     
}

#chan {
    position: fixed;
    bottom: 650px;
    right: 10px;

}

#adopted {
    position: fixed;
    width: 360px;
    height: 240px;
    bottom: 10px;
    right: 10px;

}

#stopbutton {
    position: fixed;
    border: 2px solid #ffffff;
    color:  #000000;
    background-color: #8800cc;
    margin: 16px 16px;
    border-radius: 12px;
    font-size: 48px;
    font-family: 'RedHands';
    bottom: 5px;
    left: -6px;
    cursor: pointer;

}