html {
    background-color: #000000;
}

#ramblock {
    color: #ff0000;
}

#heavy {
    position: fixed;
    bottom: 1;
    right: 0;
    width: 644px;
    border: 3px solid #ffffff;
}

#important {
    color: #ff6600;
    font-family: monospace;
    font-size: 112px;
    position: relative;
    bottom: 100px;
    left: 150px;
}

#importantbuttons {
    color: #ffffff;
}

#flipvid {
    position: relative;
    bottom: 25px;
    left: 150px;
    top: 25px;

}

#flipvid2 {
    position: relative;
    bottom: 25px;
    left:150px;
    top: 25px;

}

#deeper {
    border: 2px solid #ffffff;
    color:  #000000;
    background-color: #ff0000;
    margin: 48px 48px;
    padding: 48px 82px;
    border-radius: 12px;
    font-size: 48px;
    font-family: 'Times New Roman', Times, serif;

}

#woahlink {
    position: relative;
    width: 240px;
    height: 240px;
    bottom: 25px;
    left: 150px;
    top: 125px;

}

#ramseclink {
    position: relative;
    width: 240px;
    height: 240px;
    bottom: 25px;
    left: 644px;
    top: 125px;

}