html {
    background-color: #000000;
}

#ramblock {
    color: #ff3300;
}

#heavy {
    position: fixed;
    bottom: 1;
    right: 0;
    width: 644px;
    border: 3px solid #ffffff;
}

#important {
    color: #ff6600;
    font-family: monospace;
    font-size: 112px;
    position: relative;
    bottom: 100px;
    left: 150px;
}

#importantbuttons {
    color: #ffffff;
}

#flipvid {
    position: relative;
    bottom: 25px;
    left: 150px;
    top: 25px;

}

#flipvid2 {
    position: relative;
    bottom: 25px;
    left:150px;
    top: 25px;

}
